[run]
branch = True

[report]
exclude_lines =
    # Ignore all lines with this comment string.
    codecov-skip

    # Only runs inside a PyInstaller bundle.
    _MEIPASS

    # dtypes: code only runs during MyPy check.
    if TYPE_CHECKING:

omit =
    # Exclude test files from coverage report.
    tests/*
    delme*
    square/__main__.py
    pyinstaller_entrypoint.py

[html]
directory = htmlcov
