# Temporary files and folders
**/*~
**/__pycache__
/examples/clusters/

# MyPy
.mypy_cache

# Unit tests.
htmlcov/
.coverage*
.ropeproject/

# Binaries.
build/
dist/
kubernetes_square.egg-info/

# Personal files and folders.
.square.yaml
delme*
manifests/
personal/
