**/*~
**/__pycache__

# MyPy
.mypy_cache

# Unit tests.
htmlcov/
.coverage*

# Binaries.
build/
dist/

# Personal files and folders.
manifests/
personal/
.square.yaml

# Other.
delme*
kubernetes_square.egg-info/
