[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
google = "*"
google-api-python-client = "*"
jsonpatch = "*"
pyyaml = "*"
requests = "*"
colorlog = "*"
backoff = "*"
pydantic = "*"

[dev-packages]
ipython = "*"
isort = "*"
pytest = "*"
requests-mock = "*"
mypy = "*"
bumpversion = "*"
sh = "*"
pytest-pycodestyle = "*"
pytest-cov = "*"
pyinstaller = "==3.6"
types-pyyaml = "*"
types-requests = "*"

[requires]
python_version = "3.7"
