[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
google = "*"
google-api-python-client = "*"
jsonpatch = "*"
pyyaml = "*"
requests = "*"

[dev-packages]
flake8 = "*"
flake8-isort = "*"
ipython = "*"
isort = "*"
pytest = "*"
requests-mock = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
mypy = "*"
bumpversion = "*"

[requires]
python_version = "3.7"
