[tool.poetry]
name = "kubernetes-square"
version = "0.24.0"
description = ""
authors = ["Oliver Nagy <olitheolix@gmail.com>"]
packages = [
    { include = "square" },
]
include = ["resources/defaultconfig.yaml"]


[tool.poetry.dependencies]
colorama = "^0.4.1"
google = "^2.0"
google-api-python-client = "^1.7"
jsonpatch = "^1.24"
python = "^3.7"
pyyaml = "^5.1"
requests = "^2.22"
colorlog = "^4.0"
pydantic = "=1.5.1"
backoff = "^1.10.0"

[tool.poetry.dev-dependencies]
bumpversion = "^0.5.3"
flake8 = "^3.7"
flake8-isort = "^2.7"
ipython = "^7.8"
isort = "^4.3"
pytest = "^3.0"
pytest-cov = "^2.7"
pytest-dotenv = "^0.4.0"
pytest-flake8 = "^1.0"
requests-mock = "^1.7"
sh = "^1.12"

[tool.poetry.scripts]
square = 'square.main:main'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
