# Square configuration syntax.
version: v1.0

# Kubernetes credentials.
kubeconfig: /path/to/kubeconfig
kubecontext: null

# Where Square will read and write manifests.
folder: .


# -----------------------------------------------------------------------------
# Square will only target resources that match *all* the selectors below.
# -----------------------------------------------------------------------------
selectors:
  # Target these resource kinds.
  kinds:
    - ClusterRole
    - ClusterRoleBinding
    - ConfigMap
    - CronJob
    - CustomResourceDefinition
    - DaemonSet
    - Deployment
    - HorizontalPodAutoscaler
    - Ingress
    - Namespace
    - PersistentVolumeClaim
    - PodDisruptionBudget
    - Role
    - RoleBinding
    - Secret
    - Service
    - ServiceAccount
    - StatefulSet

  # Target these namespaces. Leave empty to target all.
  namespaces: ["default"]

  # Example: ["app=square", "foo=bar"]. Leave empty to ignore.
  labels: []


# -----------------------------------------------------------------------------
# Define the folder hierarchy that `square get` should create.
# -----------------------------------------------------------------------------
groupby:
  label: app
  order: [ns, label, kind]


# -----------------------------------------------------------------------------
# Square will create resources in this order, and delete them in reverse order.
# This list need not be complete. If Square encounters an unlisted resource it
# is tantamount to adding that resource to the end of that list.
# -----------------------------------------------------------------------------
priorities:
  # Custom Resources come first.
  - CustomResourceDefinition

  # Common non-namespaced resources.
  - ClusterRole
  - ClusterRoleBinding

  # Namespaces must come before any namespaced resources.
  - Namespace

  # Configuration and PVC before Deployments & friends that may use them.
  - ConfigMap
  - PersistentVolumeClaim
  - Secret

  # RBAC.
  - Role
  - RoleBinding
  - ServiceAccount

  # Define Services before Deployments & friends.
  - PodDisruptionBudget
  - Service

  # Resources that will spawn pods.
  - CronJob
  - DaemonSet
  - Deployment
  - StatefulSet

  # Everything else.
  - HorizontalPodAutoscaler
  - Ingress


# -----------------------------------------------------------------------------
# Square will omit all keys defined here in a plan and patches. It will also
# skip them it creates a new resource.
# -----------------------------------------------------------------------------
filters:
  # --- These will be inserted into all resource types to reduce boiler plate. ---
  _common_:
    - metadata:
      - annotations:
        - autoscaling.alpha.kubernetes.io/conditions
        - deployment.kubernetes.io/revision
        - kubectl.kubernetes.io/last-applied-configuration
        - kubernetes.io/change-cause
      - creationTimestamp
      - generation
      - resourceVersion
      - selfLink
      - uid
    - status

  # --- Individual resource types. ---
  ConfigMap:
    - metadata:
      - annotations
      - control-plane.alpha.kubernetes.io/leader

  Deployment: []

  HorizontalPodAutoscaler:
    - metadata:
      - annotations:
        - autoscaling.alpha.kubernetes.io/conditions
        - autoscaling.alpha.kubernetes.io/current-metrics
        - control-plane.alpha.kubernetes.io/leader

  Service:
    - spec:
      - clusterIP
      - ports:
        - nodePort
      - sessionAffinity
