name: build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ master ]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv codecov
          pipenv install --system --deploy --dev

          mkdir $HOME/bin
          curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.16.5/bin/linux/amd64/kubectl
          chmod +x ./kubectl
          mv ./kubectl $HOME/bin/

          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.10.0/kind-linux-amd64
          chmod +x ./kind
          mv ./kind $HOME/bin/

          cd ./integration-test-cluster
          ./start_cluster.sh
          cd ..

      - name: Tests - Linting
        run: isort --check-only ./

      # Break if coverage drops below 100%.
      - name: Tests - Unit and Integration
        run: pytest --cov=square --cov-report=term-missing --cov-report=xml --cov-fail-under=100

      - name: Tests - Static analysis
        run: pipenv run mypy square/*.py

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: true
  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv macholib pypiwin32 atomicwrites
          pipenv install --system --deploy --dev
      - name: Run Unit Tests
        run: |
          pytest --cov=square --ignore=tests/test_integration.py

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --system --deploy --dev
      - name: Run Unit Tests
        run: |
          pytest --cov=square
          pipenv run mypy square/*.py
